@import "./core/reset.scss";

@import "./moudules/lot-head.scss";

@import "./moudules/footer.scss";

@import "./moudules/App.scss";

@import "./moudules/common.scss";

@import "./moudules/lots-vue-scss/lots-nav.scss";

@import "./moudules/lots-vue-scss/lots-box.scss";

@import "./moudules/lots-vue-scss/lots-boxdetail.scss";

@import "./moudules/lots-vue-scss/lots-boxItem.scss";

@import "./moudules/lots-vue-scss/lots-pingjiaItem.scss";

@import "./moudules/lots-vue-scss/lots-picture.scss";

@import "./moudules/lot-heads.scss";

@import "./moudules/find/find.scss";

@import "./moudules/shop/shop.scss";

@import "./moudules/must-know/newPerson-know.scss";

@import "./moudules/must-know/newPlantDetail.scss";
