body{
    -webkit-overflow-scroll:touch;
    #app{
         width: 100%;
         height: 100%;
        .exothecium{
            width: 100%;
            height: 100%;   
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(space-between);    
        }
    }
    
}


