@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont.woff') format('woff'),
    url('/static/iconfont/iconfont.ttf') format('truetype')
}
@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont1.woff') format('woff'),
    url('/static/iconfont/iconfont1.ttf') format('truetype')
}
@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont2.woff') format('woff'),
    url('/static/iconfont/iconfont2.ttf') format('truetype')
}