@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont.woff') format('woff'),
    url('/static/iconfont/iconfont.ttf') format('truetype')
}
@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont1.woff') format('woff'),
    url('/static/iconfont/iconfont1.ttf') format('truetype')
}
@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont2.woff') format('woff'),
    url('/static/iconfont/iconfont2.ttf') format('truetype')
}
@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont3.woff') format('woff'),
    url('/static/iconfont/iconfont3.ttf') format('truetype')
}
@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont4.woff') format('woff'),
    url('/static/iconfont/iconfont4.ttf') format('truetype')
}
@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont5.woff') format('woff'),
    url('/static/iconfont/iconfont5.ttf') format('truetype')
}
@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont6.woff') format('woff'),
    url('/static/iconfont/iconfont6.ttf') format('truetype')
}
@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont7.woff') format('woff'),
    url('/static/iconfont/iconfont7.ttf') format('truetype')
}
@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont8.woff') format('woff'),
    url('/static/iconfont/iconfont8.ttf') format('truetype')
}
.lg-preview-nav-arrow{
    display: none;
}
@font-face {font-family: 'yofont';
    src: 
    url('/static/iconfont/iconfont12.woff') format('woff'),
    url('/static/iconfont/iconfont12.ttf') format('truetype')
}