@import "./find-detail/find-detailItem.scss";
@import "./find-detail/find-boxdetail.scss";
@import "./find-detail/find-writepublish.scss";
@import "./find-detail/find-search.scss";
.find-to{
    @include flexbox();
    @include flex-direction(column);
    //@include justify-content(space-between);    
    .find-head{
        padding:0 0.19rem;
        width:100%;
        height:44px;
        background:#04b10a;
        @include flexbox();
        @include justify-content(space-between); 
        @include align-items(center);
        span{
            color:#fff;
            font-size:0.16rem;
        }
        b{
            color:#fff;
            font-size:0.22rem;
        }
    }
    .find-box{
       flex:1;
       overflow-y: scroll;
        .find-nav{
           width:100%;
           height:1.48rem;
           background:#cdcdcd;
           @include flexbox();
           @include align-items(center);
           @include justify-content(center);    
           ul{
               width:3.56rem;
               height:1.29rem;
               @include flexbox();
               @include flex-wrap(wrap);
               @include align-content(space-between);
               @include justify-content(space-between);    
               li{
                   width:1.75rem;
                   height:0.6rem;
                   background:#fff;
                   border-radius: 0.05rem;
                   padding:0.1rem;
                   img{
                       width:0.5rem;
                       height:0.4rem;
                   }
                    b{
                        padding-left:0.1rem;
                    }
               }
           }
        }
        .find-newsbox{
            background:#fff;
            h3{
                height:0.49rem;
                color:#333;
                font-size:0.15rem;
                font-weight: 900;
                padding-top:0.25rem;
                //@include border(0 0 1px, #cecece 0);
                span{
                    margin-left:0.1rem;
                    width:0.03rem;
                    height:0.14rem;
                    display: inline-block;
                    background: #03aa1a;
                }
            } 
            ul{
                // li{
                //     @include border(1px,#cecece);
                //     padding:0.1rem 0.2rem 0.08rem 0.2rem;
                //     .newsbox-top{
                //         @include flexbox();
                //         // @include align-items(center);
                //         // @include justify-content(center); 
                //         img{
                //             width:32px;
                //             height:32px;
                //         }
                //         .newsbox-p{
                //              @include flexbox();
                //              @include flex-direction(column);
                //              @include justify-content(space-between);
                //              padding-left:0.09rem;
                //              b{
                //                  font-size:12px;
                //              }
                //              i{
                //                  font-size:10px; 
                //                  color:#999;
                //              }
                //         }    
                //     }
                //     .newsbox-font{
                //         padding:0.09rem 0;
                //         font-size:12px;
                //         color:#333;
                //     }
                //     .newsbox-image{
                //         width:100%;
                //         height:1.05rem;
                //         @include flexbox();
                //         //@include justify-content(space-between);
                //         overflow-x: scroll;
                //         img{
                //             width:1.05rem;
                //             height:1.05rem;
                //             margin:0 0.04rem;
                //         }
                //     }
                //     .newsbox-foot{
                //         width:100%;
                //         height:0.2rem;
                //         font-size:10px;
                //         color:#999999;
                //         padding-top:0.05rem;
                //         @include flexbox();
                //         @include flex-direction(row-reverse);
                //         span{
                //             padding:0.02rem;
                //         }
                //     }
                // }
            }     
        }
       
    }
}